{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome OCD</h1>
    <p class="lead">A basic application for automatic outbound call distribution based on a uploaded call distribution list. <br> Based on Asterisk PBX and it's ARI functionality, Flask and MySQL</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg">Register</a>
      <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}
  </div>
{% endblock %}
